<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<!--&lt;!&ndash;&#45;&#45;start-Header&#45;&#45;&ndash;&gt;-->
<!--<jsp:include page="include/homeHeader.jsp"></jsp:include>-->
<!--&lt;!&ndash;&#45;&#45;End-Header&#45;&#45;&ndash;&gt;-->

<!--<jsp:include page="include/storeContent.jsp"></jsp:include>-->

<!--&lt;!&ndash;&#45;&#45;start-Footder&#45;&#45;&ndash;&gt;-->
<!--<jsp:include page="include/homeFooter.jsp"></jsp:include>-->
<!--&lt;!&ndash;&#45;&#45;End-Footder&#45;&#45;&ndash;&gt;-->
</body>
</html>