<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
<div class="container-fluid">
    <div class="col-md-3">

        <div id="sidebar">
            <div class="container-fluid tmargin">
                <div class="input-group">
                    <!--             <input type="text" class="form-control" placeholder="Search..." />
                                <span class="input-group-btn">
                                  <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </button>
                                </span> -->
                </div>
            </div>

            <ul class="nav navbar-nav side-bar">

                <li class="side-bar tmargin">
                    <a href="<th:url value='/admin/don-hang' />">
                        <span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>Quản lý Đơn hàng</a>
                </li>

                <li class="side-bar">
                    <a href='<th:url value="/admin/san-pham"/>' >
                        <span class="glyphicon glyphicon-folder-open">&nbsp;</span>Quản lý Sản phẩm</a>
                </li>

                <li class="side-bar">
                    <a href='<th:url value="/admin/danh-muc"/>'>
                        <span class="glyphicon glyphicon-tasks">&nbsp;</span>Quản lý Danh Mục</a>
                </li>

                <li class="side-bar">
                    <a href='<th:url value="/admin/nhan-hieu"/>' >
                        <span class="glyphicon glyphicon-flag">&nbsp;</span>Quản lý Nhãn hiệu</a>
                </li>

                <li class="side-bar main-menu">
                    <a href="<th:url value='/admin/tai-khoan' />">
                        <span class="glyphicon glyphicon-th-list">&nbsp;</span>Quản lý Tài khoản</a>
                </li>

                <li class="side-bar main-menu">
                    <a href="<th:url value='/admin/lien-he' />">
                        <span class="glyphicon glyphicon-envelope">&nbsp;</span>Quản lý Liên Hệ</a>
                </li>

                <li class="side-bar main-menu">
                    <a href="<th:url value='/admin/thong-ke' />">
                        <span class="glyphicon glyphicon-signal">&nbsp;</span>Thống kê</a>
                </li>

                <li class="side-bar">
                    <a href="<th:url value='/admin/profile' />">
                        <span class="glyphicon glyphicon-user">&nbsp;</span>Thông tin cá nhân</a>
                </li>

            </ul>
        </div>
    </div>

    <script src="<c:url value='/js/admin.js'/>" ></script>
</body>
</html>